/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #63c8f6;
}

.hidden {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
body {
  color: #333;
  text-align: left;
}

/* Index page */

nav {
  margin-top: 2em;
}

nav time {
  font-style: italic;
  color: #607d8b;
  font-size: 80%;
}

nav dl a,
nav dl a:focus {
  color: #41b990;
  text-decoration: none;
}

nav dl a:hover {
  text-decoration: underline;
}

nav dt {
  font-weight: normal;
}

/* Post page */

h1 {
  color: #8768bb;
}

h2, h3, h4, h5, h6 {
  color: #7e57c2;
  margin-top: 1em;
}

code {
  font-size: 100%;
  color: #c35b7d;
  font-family: 'Roboto Mono', monospace;
}

pre {
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
}

article {
  margin-top: 2em;
}

article aside {
  font-size: 80%;
}

article time {
  font-style: italic;
  color: #607d8b;
}


article aside a,
article aside a:focus,
article aside a:hover  {
  color: #41b990;
}

article blockquote {
  border-left: .1em solid #8768bb;
  padding-left: 1em;
  color: #999;
}

article img {
  width: 75%;
  margin: 0 auto;
  display: block;
  padding: 2em 0;
}

article iframe {
  margin: 2em auto;
  display: block;
  max-width: 75%;
}

article .twitter-tweet {
  margin: 0 auto;
}

footer {
  margin-top: 2.2em;
  padding-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #433e56;
}

.img-me-container {
  padding-right: 0px;
}

.disclaimer {
  text-align: right;
  font-size: 75%;
  color: #999;
}

.info {
  font-family: 'Roboto Mono', monospace;
}

.info a,
.info a:focus {
  color: #41b990;
  text-decoration: none;
  white-space: nowrap;
}

.info a:hover {
  color: #63c8f6;
}

.name {
  color: #c35b7d;
}

.location {
  font-size: 90%;
  color: #666;
}

@media(max-width: 768px) {
  .disclaimer, .info {
    text-align: center;
  }

  .disclaimer {
    margin-top: 1em;
  }
}
