{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{post.title}} - Thea Flowers">
<meta property="twitter:title" content="{{post.title}} - Thea Flowers">

{% if post.description %}
<meta property="og:description" content="{{post.description}}">
<meta property="twitter:description" content="{{post.description}}">
{% endif %}

{% if post.preview_image %}
<meta property="og:image" content="https://blog.thea.codes/{{post.stem}}/{{post.preview_image}}">
<meta property="twitter:image" content="https://blog.thea.codes/{{post.stem}}/{{post.preview_image}}">
{% endif %}

{% if post.preview_image_alt %}
<meta name="twitter:image:alt" content="{{post.preview_image_alt}}">
{% endif %}

<meta property="og:url" content="https://blog.thea.codes/{{post.stem}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@theavalkyrie">
{% endblock %}

{% block content %}
<article>
  <aside class="timestamp">
    <time>Posted by Stargirl Flowers on {{post['date'].strftime('%B %e, %Y')}}</time>
    · <a href="/">view all posts</a>
  </aside>
  <h1>{{post.title}}</h1>
  <content>
    {{content}}
  </content>

  {% if not post.sponsor %}
  <aside class="support-me">
    👋 Hey, if you found this article useful I would love to <a href="mailto:me@thea.codes">hear from you</a>.
    If you loved it you can consider <a href="https://ko-fi.com/theacodes" target="_blank" rel="noopener">tipping me on Ko-fi</a> or <a href="https://github.com/sponsors/theacodes" target="_blank" rel="noopener">sponsoring me</a> on GitHub.
    I don't get paid for this content, so kind words and support encourage me to create more!
  </aside>
  {% endif %}
</article>
{% endblock %}
